@import "../../../assets/styles/variables.scss";

.abc-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(184, 184, 184, 0.568);
  width: 100%;
  margin: auto;
  margin-top: 6rem;
  padding-top: 2rem;
}

#letter {
  color: $dark-gray;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

#count {
  color: $primary;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

//media queries

@media (max-width: 1280px) {
  .abc-list {
    justify-content: center;
  }
  #letter {
    font-size: 0.9rem;
    padding: 8px;
  }
  #count {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .abc-list {
    justify-content: center;
  }
  #letter {
    font-size: 0.8rem;
    padding: 10px;
  }
  #count {
    font-size: 0.8rem;
    padding: 10px;
  }
}
