@import "../../../assets/styles/variables.scss";

//Searchbar Styles

.search {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.searching-container {
  width: 90%;
  height: 2rem;
  margin: auto;
}

.searching {
  width: 100%;
  margin: auto;
  display: flex;

  p {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  span {
    color: $primary;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-style: italic;
  }
}

//Table Styles

.container {
  width: 90%;
  height: 80vh;
  margin-top: 20px;
  text-align: center;
  display: flex;
  margin: auto;
}

.container-right {
  width: 30%;
}

.table {
  width: 70%;
  height: 100%;
  text-align: center;
  animation: move_in 2s ease-in;
}

.row-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.row-title {
  text-align: center;
  font-size: 1rem;
}

.rows:nth-child(even) {
  background: #f1f0f080;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.avatar {
  width: 50px;
  height: 50px;
  margin: 30px;
  cursor: pointer;
}

.data-loading {
  margin-top: 1rem;
  color: $primary;
  letter-spacing: 2px;
  font-weight: 700;
}

.abc-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(184, 184, 184, 0.568);
  width: 100%;
  margin: auto;
  margin-top: 6rem;
  padding-top: 2rem;
}

#letter {
  color: $dark-gray;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

#count {
  color: $primary;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

// Animations

@keyframes move_in {
  0% {
    transform: translate(-20%, 0);
  }
}

// Media Queries

@media (max-width: 1880px) {
}

@media (max-width: 1280px) {
  .container {
    height: 80vh;
  }
  .abc-list {
    justify-content: center;
  }
  #letter {
    font-size: 0.9rem;
    padding: 8px;
  }
  #count {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh;
  }
  .table {
    width: 100%;
  }

  .row-name {
    font-size: 0.7rem;
  }

  .row-title {
    font-size: 0.7rem;
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .container-right {
    width: 100%;
  }
  .abc-list {
    justify-content: center;
  }
  #letter {
    font-size: 0.8rem;
    padding: 10px;
  }
  #count {
    font-size: 0.8rem;
    padding: 10px;
  }
}
