<mat-toolbar class="header-container">
  <mat-toolbar-row class="header">
    <img
      src="../../../assets/images/logo_white.png"
      alt="pokedex"
      width="100"
    />
    <div class="header-icons">
      <button mat-icon-button class="icon">
        <mat-icon>home</mat-icon>
      </button>

      <button mat-icon-button class="icon">
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button mat-icon-button class="icon">
        <mat-icon>notifications_none</mat-icon>
      </button>

      <button mat-icon-button class="icon">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button class="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
