<mat-toolbar class="header-container">
  <mat-toolbar-row class="header">
    <img
      src="../../../assets/images/defondex.png"
      alt="pokedex"
      width="130"
      routerLink="home"
    />
    <div class="header-icons">
      <button mat-icon-button class="icon" routerLink="home">
        <mat-icon>home</mat-icon>
      </button>

      <button mat-icon-button class="icon" (click)="alertFunction()">
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button mat-icon-button class="icon" (click)="alertFunction()">
        <mat-icon>notifications_none</mat-icon>
      </button>

      <button mat-icon-button class="icon" (click)="alertFunction()">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button class="menu" (click)="alertFunction()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
