<mat-toolbar class="header-container">
  <mat-toolbar-row class="header">
    <img
      src="../../../assets/images/logo_white.png"
      alt="pokedex"
      width="100"
    />
    <div class="header-icons">
      <mat-icon class="header-icons-i">favorite_border</mat-icon>
      <mat-icon class="header-icons-i">notifications_none</mat-icon>
      <mat-icon class="header-icons-i">account_circle</mat-icon>
      <mat-icon class="header-icons-i">more_vert</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
