<div class="landing">
  <div class="landing-container">
    <h1 class="landing-container-title">Welcome to</h1>
    <div class="landing-container-div">
      <h1 class="landing-container-div-subtitle">Def</h1>
      <img
        class="landing-container-img"
        src="../../../assets/images/pokeball_load.png"
        alt="pokeball"
      />
      <h1 class="landing-container-div-subtitle">nDex</h1>
    </div>
    <h3 class="landing-container-text">
      This small application was created by
      <a href="https://dmaceda.github.io/Portfolio/" target="_blank"
        >Diego Maceda</a
      >, for the
      <a href="https://www.defontana.com/" target="_blank">Defontana</a>
      Challenge Frontend.<br />
      Allows you to see a list of all the Pokemons available in the
      <a href="https://pokeapi.co/docs/v2" target="_blank">Pokeapi.co</a>.<br />
      Contains pagination and filter and allows you to access the details of
      each Pokemon.<br />
      This mobile and desktop edition was developed with the latest version of
      <a href="https://angular.io/docs" target="_blank">Angular</a>.<br />
    </h3>

    <div class="btn-container">
      <div class="btn-go" routerLink="home">
        <img src="../../../assets/images/go.svg" alt="go home" />
        <span>Home</span>
      </div>

      <div class="btn-git">
        <img src="../../../assets/images/github.svg" alt="github" />
        <a href="https://github.com/dmaceda/defon-dex" target="_blank">Repo</a>
      </div>
    </div>
  </div>
</div>
