/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#ffffff, #ececec);
  min-height: 100vh;
}
